.bg-primary {
  background-color: #008cff!important;
}

.card {
  word-wrap: break-word;
  background-color: #332F2E;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-body {
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  width: 95%;
  width: -webkit-fit-content;
  margin:0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.h-100 {
  height: 100%!important;
}

.info-col {
  float: right;
}

.info-card {
  width: 30rem;
  height: 25rem;
}

.left-side-container {
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dialogue-box {
  height:100%;
  overflow:auto;
  display: block;
}

.blog-info {
  margin-right: 2rem;
}

.image-circle {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 50%;
}